bin/
build/

# Word temporary files
~$*.docx
~$*.doc
~*.tmp

server_info.txt

*.tiled-session
*.tiled-project

# vcpkg files
vcpkg_installed/
CMakeUserPresets.json

# non-compressed release files
# ignore all subdirs
releases/*
# allow all compressed files
!releases/*.zip/
!releases/*.7z/
!releases/*.rar/
!releases/*.tar/
!releases/*.tar.gz/
!releases/*.tgz/